*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.content {
      color:wheat;
      display:grid;
      grid-template-columns: 1fr 1fr 1fr;
      width:650px;
      margin:auto;
      min-height:250px;
      text-align:center;
      font-family: "Lexend Deca", Arial, Helvetica, sans-serif;
      }

img{
  padding:0.5rem;
}
button{
  border-radius: 1rem;
  margin:1.5rem 0rem;
  padding:0.5rem;
  cursor:pointer;
  &:hover{
    color:black;
  }
 }
 .attribution {
        font-size: 11px;
        text-align: center;
         }
    .attribution a {
         color: hsl(228, 45%, 44%);
          }
    h2{
        padding:1rem;
        font-size: 1.5rem;
        font-family:"Big Shoulders Display", cursive, Arial, Helvetica, sans-serif;
        font-weight: 700;       
        }
    .b1{
        background-color: rgb(219, 157, 42);
        }
    .b2{
        background-color: rgb(17, 103, 129);
        }
    .b3{
        background-color: rgb(3, 46, 34);
        }

    @media screen and (max-width:700px){
      .content{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        width:300px;
      }
    }