@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    overflow: hidden;
    //background-color: #2d283e;
    background-color: white;
    color: black;
    font-weight: 700;
}

.dark {
    background-color:black;
    color: white;
}

.container {
    width: 400px;
    height: 250px;
}

.contents {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

