*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    color:aqua;
     
       
}
header{
    background-color: cornsilk;
    color:black;
    height: 50px;
}
header div{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;   
}
ul{
    list-style: none;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
header div ul{
    list-style: none;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:1rem;
    margin-left: auto;
}
a{
    text-decoration: none;
    padding:1rem;
}
section{
    min-height:80vh;
    background-color: blueviolet;
}
footer{
    background-color: gray;
    height: 75px;
}
footer ul{
    list-style: none;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;
   
   
}
footer ul a{
    padding:0rem 2.5rem;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}
