*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: #242333;
    color:white;
}

.movie-container{
    margin-bottom: 10px;
}

#legend{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding:5px 10px;
}

#legend li{
    display: flex;
    margin: 0px 25px;
    align-items: center;
    justify-content: center;
}

.container{
    margin:10px;
}

.row{
    display:flex;
}

.seat{
    width:10px;
    height:13px;
    background-color:#444451;
    margin:2px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.seat.occupied{
    background-color: white;
}

.seat.selected {
    background-color: #6feaf6;
}

.seat:not(.occupied):hover{
    transform:scale(1.2);
}

p span{
    color: #6feaf6;
}