* {
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}

body {
    background : #000;
    font-family: Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    color : #fff;
    overflow-x : hidden;
}

h1 {
    font-size : 2.75rem;
}

h2 {
    font-size : 1.75rem;
}

h3 {
    font-size : 1.5 rem;
}

h4 {
    font-size: 1.25rem;
}

.plan-header {
    height : 70px;
    background : #fff;
}

.plan-header-contents {
    max-width : 400px;
    margin : 0 auto;
    height : 100%;
    display : flex;
    justify-content: space-between;
    align-items: center;
    color : #000;
}

.plan-header-contents .new {
    background:rgb(229,9,20);
    color : #fff;
    padding : 5px 12px;
    border-radius : 1rem;
    text-transform: uppercase;
    font-weight : 500;
}

.plan-header-contents .plan-detail {
    font-weight : 500;
}

.plan-header-contents .plan-detail span {
    font-weight : bold;
    font-size : 1.25em;
}

.plan-header-contents a {
    text-decoration: none;
    font-weight : 500;
}

.plan-header-contents a:hover {
    text-decoration : underline;
}

.main-content {
    height : 700px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%), url("./images/header-image.png");
    background-size : cover;
    background-repeat : no-repeat;
    background-position: center;
    border-bottom : 8px solid #333;
    margin : 0px auto;
}

.main-content .logo img {
    max-height : 400px;
    max-width : 150px;
    padding : 40px 0px 0px 20px;
}

/*.main-content-header {
    position : relative;
    z-index : 2;
}

.main-content::after {
    content : '';
    position : absolute;
    top : 0; 
    left : 0;
    height : 100%;
    width : 100%;
    background : linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
    z-index : 1;
}*/

.main-content .main-content-header {
    display : flex;
    justify-content : space-between;
    max-height : 100px;
    max-width : 1000px;
    margin : 0px auto;
}

.main-content .main-content-header ul {
    display : flex;
    list-style-type: none;
    padding : 40px 25px 25px 25px;
}

.main-content .main-content-header ul li {
    padding-left : 25px;
}

.btn:hover {
    cursor : pointer;
}

.sign-in-btn {
    color : #fff;
    font-weight : 500;
    background :rgb(229,9,20);
    padding : 5px 10px;
    border-radius: 5px;
}

select {
    color : #fff;
    background-color: black;
    padding : 5px 10px;
    border-radius: 5px;
    font-weight : 500;
    font-size : 1rem;
}

.main-content-details {
    color : #fff;
    font-weight : bold;
    height : 600px;
    max-width : 1100px;
    margin: 150px;
    align-items: center;
    text-align: center;
}

.main-content-details h3 {
    margin : 1rem 0;
}

.features {
    width : 100%;
    height : 2100px;
}
.features .container {
    height: 25%;
    width : 100%;
    border-bottom : 8px solid #333; 
}

.feature{
    height: 100%;
    max-width: 80vw;
    margin : auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature .feature-details h1 {
    font-weight: 700;
    margin-bottom: 15px;
}

.feature .feature-details h2 {
    font-weight: 300;
}

.feature .feature-image img {
    max-height: 380px;
    max-width: 500px;
}

.fqa {
    height: 900px;
    border-bottom : 8px solid #333;
}

.fqa h1 {
    text-align: center;
    margin-bottom: 20px;
}

.fqa .question {
    width : 980px;
    height : 84px;
    background-color: #333;
    margin : 0px auto 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    padding : 0px 24px;
    cursor: pointer;
}

.fqa .question:hover {
    background-color: #555;
}

.fqa > h1 {
    margin-top : 50px;
}

.fqa .question h1 {
    font-weight: 300;
    font-size : 60px;
}

.fqa .question h2 {
    font-weight: 400;
    font-size : 30px;
}

.fqa p {
    text-align: center;
    margin-top: 25px;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

form input {
    width : 375px;
    height : 56px;
    padding : 18px 16px 18px 10px;
    font-size: 1rem;
}

form button {
    width : 200px;
    height : 56px;
    background:rgb(229,9,20);
    color : #fff;
    border-radius : 5px;
    font-size : 1.25rem;
    margin-left : 10px;
    cursor : pointer;
}

form button:hover {
    opacity: 0.8;
}

footer {
    max-width : 1000px;
    margin : 20px auto;
    font-size : 1rem;
}

footer p {
    text-align: left;
    margin-top: 10px;
}

footer p a {
    text-decoration: none;
    color : #fff;
    text-decoration: underline;
}

footer .footer-links {
    display : grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 25px;
}

footer ul {
    margin-right: 11px;
}

footer ul li {
    list-style-type: none;
    line-height: 2rem;
}

footer a {
    text-decoration: underline;
    color : #fff;
}

footer select {
    margin-top : 15px;
}

@media (max-width : 450px) {

    html {
        overflow-x: hidden;
    }

    h1 {
        font-size : 2rem;
    }
    
    h2 {
        font-size : 1.25rem;
        font-weight: 400;
    }
    
    h3 {
        font-size : 1.125rem;
        font-weight: 400;
    }
    
    h4 {
        font-size: 1.125rem;
        font-weight: 400;
    }

    .plan-header-contents {
        max-width : 355px;
    }

    .plan-header-contents .new {
        padding : 2.5px 6px;
    }

    .plan-header-contents .plan-detail span {
        font-size : 1rem;
    }

    .main-content .main-content-header ul li {
        padding-left : 8px;
    }

    .sign-in-btn {
        padding : 5px;
    }

    .main-content .logo img {
        max-height : 200px;
        max-width : 100px;
        padding : 20px 0px 0px 20px;
    }

    .main-content {
        height : 525px;
    }

    .main-content-header {
        height : 75px;
        align-items: center;
    }

    .main-content-details {
        height : 440px;
        margin : 50px;
        max-width : 85vw;
    }

    .main-content-details h3 {
        margin : 0.9rem 0;
    }

    form {
        flex-direction: column;
    }

    form input {
        width : 70vw;
        height : 50px;
        padding : 15px 16px 15px 10px;
        font-size: 1rem;
        margin : 0px auto;
    }

    form button {
        width : 150px;
        height : 50px;
        background:rgb(229,9,20);
        color : #fff;
        border-radius : 5px;
        font-size : 1rem;
        margin : 10px auto;
        cursor : pointer;
    }

    .features {
        height : 2020px;
    }

     .feature {
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
}

    .feature .feature-image img {
        max-height: 250px;
        max-width: 300px;
    }

    .fqa .question h1 {
        font-weight: 300;
        font-size : 30px;
    }
    
    .fqa .question h2 {
        font-weight: 400;
        font-size : 15px;
    }

    .fqa .question {
        width : 325px;
        height : 70px;
    }

    .fqa p {
        padding : 0px 15px;
    }

    footer {
        width : 75vw;
    }

    footer .footer-links {
        grid-template-columns: 1fr;
}
}

@media (min-width : 450px) and (max-width : 1000px) {
    .fqa .question {
        width : 90vw;
        height : 70px;
    }

     .feature .feature-image img {
        max-height: 280px;
        max-width: 350px;
    }

    footer {
        width : 85vw;
    }
}
